
.main-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
    max-width:auto;
    justify-content: center;
    color:white;
    background-color: #181818;
    overflow-y: scroll;
    padding: 4rem 5rem 4rem 5rem;
    flex-wrap:wrap;
    scrollbar-width:thin;
}

.main-container::-webkit-scrollbar{
    width:8px;
}

.main-container::-webkit-scrollbar-thumb{
    background-color: #aaaaaa;
    border-radius: 5px;
}