
.main-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
    width:100vw;
    max-height: 100vh;
    justify-content: center;
    color:white;
    background-color: #181818;
    overflow-y: scroll;
    padding: 4rem 5rem 4rem 5rem;
    flex-wrap:wrap;
    scrollbar-width:thin;
}

.main-container::-webkit-scrollbar{
    width:8px;
}

.main-container::-webkit-scrollbar-thumb{
    background-color: #aaaaaa;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .main-container{
        flex-direction: row;
        padding:1rem 0px;
        min-width: 369px;
        min-height: fit-content;
    }
}