.nav-container{
    background-color: rgba(33, 33, 33, 0.98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-family:'Roboto', sans-serif;
    padding-bottom: 4px;
    font-size: 16px;
    max-height:3.5rem;
    min-width:99.1vw;
    z-index: 1;
}

.far-left, .far-right{
    display:inherit;
    align-items: center;
    text-decoration: none;
}

.far-left{
    padding-left: 8px;
}

.middle{
    display: inherit;
    align-items: center;
    flex-grow: 1;
    max-width: 43rem;
}

.logo{
    display: inherit;
    align-items: center;
    z-index: 1;
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.youtube-name{
    font-size: medium;
    padding-right: 50px;
    color:white;
}

.logo-background{
    position:absolute;
    left:65px;
    background-color: white;
    width: 16px;
    height: 16px;
    z-index: -1;
}

@media only screen and (max-width: 600px) {

    .nav-container{
        min-width: 369px;
    }

    .sidebar-container{
        display: none;
    }

    .far-left{
        padding-left: 8px;
    }

    .far-left-menu{
        display: none !important;
    }

    .far-right-voice{
        display: none !important;
    }
    .far-right-camera{
        display: none !important;
    }
    .far-right-grid{
        display: none !important;
    
    }
    .far-right-bell{
        display: none !important;
    }

  }