.sidebar-container{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    max-height: 100vh;
    font-size: 16px;
    background-color: rgba(33, 33, 33, 0.98);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width:thin;
    padding-left: 8px;
}

.sidebar-container::-webkit-scrollbar{
    width:8px;
}

.sidebar-container::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}

.sidebar-seperator{
    width:90%;
    border-style: solid none none none ;
    border-color:  #3c3f43 ;
    border-width: .2px;
    margin:16px 0px;
}

.btn:hover{
    background-color:#383838 ;
    border-radius: 0%;
}

@media only screen and (max-width: 600px) {
    .sidebar-container{
        display: none;
    }
  }